body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
.header{
	background-color: #FFF3F3;
	width: 100%;
	display: flex;
	height: 120px;
}
.header .img1{
	margin: auto auto auto 20px;
}
.header .img2{
	margin: auto 20px auto auto;
}
.img2 img{
	opacity: 0.5;
}
.navbar{
	background-color: #8E1616;
	margin: 0;
}
.ulist{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.ulist li a{
	display: block;
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	padding: 3px 10px;
	line-height: 50px;
	font-size: 1.6em;
}
.ulist li a span{
	color: #000;
}
.ulist li a:hover{
	color: #000;
	transition: 0.3s;
}
.contentwrapper{
	width: 90%;
	height: 500px;
	background-color: grey;
	margin: 0 auto;
}
.userinputs{
	width: 100%;
	background-color: green;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.userinputs input{
	flex-basis: 350px;
	height: 50px;
	margin: 50px 0 0 0;
}
.userinputs select{
	flex-basis: 355px;
	height: 50px;
	margin: 50px 0 0 0;
}
#insuranceoutput{
	text-align: center;
}















.footer{
	width: 100%;
	background-color: #000;
	display: flex;
	flex-direction: column;
}
.navbarbottom{
	background-color: #000;
	margin: 0;
}
.ulistbottom{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.ulistbottom li{
	display: block;
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	padding: 3px 10px;
	line-height: 50px;
	font-size: 1.6em;
}
.footerimg{
	margin: auto 20px auto auto;
}
.footertext{
	margin: 0 auto;
	color: white;
	font-size: 1.5em;
}